<div class="account-pages my-5 pt-sm-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8 col-lg-6 col-xl-5">
        <div class="text-center mb-4">
          <a routerLink="/" class="auth-logo mb-5 d-block">
            <img src="assets/images/logo-dark.png" alt="" height="30" class="logo logo-dark">
            <img src="assets/images/logo-light.png" alt="" height="30" class="logo logo-light">
          </a>

          <h4>Đổi mật khẩu</h4>
          <p class="text-muted mb-4">Thay đổi mật khẩu tài khoản Saza-chat của bạn</p>

        </div>

        <div class="card">
          <div class="card-body p-4">
            <div class="p-3">

              <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
                <ngb-alert type="danger" *ngIf="error" [dismissible]="false">{{ error }}</ngb-alert>

                <div class="form-group mb-4">
                  <label>Tên đăng nhập</label>
                  <div class="input-group mb-3 bg-soft-light input-group-lg rounded-lg">
                    <div class="input-group-prepend">
                      <span class="input-group-text border-light text-muted">
                        <i class="ri-user-line"></i>
                      </span>
                    </div>
                    <input type="text" formControlName="username" class="form-control bg-soft-light border-light"
                      [ngClass]="{ 'is-invalid': submitted && f.username.errors }"
                      placeholder="Tên đăng nhập">
                    <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                      <div *ngIf="f.username.errors.required">
                        Tên đăng nhập không được để trống</div>
                      <div *ngIf="error">{{error}}
                      </div>
                    </div>
                  </div>
                </div>

                <div>
                  <button class="btn btn-primary btn-block"
                    type="submit">Tiếp theo</button>
                </div>

              </form>
            </div>
          </div>
        </div>

        <div class="mt-5 text-center">
          <p>Đã nhớ ra mật khẩu?<a routerLink="/account/login"
              class="font-weight-medium text-primary">
              Đăng nhập </a> </p>
          <p>© {{year}} {{'footer.name' | translate}} <i class="mdi mdi-heart text-danger"></i>
            {{'footer.text' | translate}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
