<div class="account-pages my-5 pt-sm-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8 col-lg-6 col-xl-5">
        <div class="text-center mb-4">
          <a routerLink="/" class="auth-logo mb-5 d-block">
            <img src="assets/images/logo-dark.png" alt="" height="30" class="logo logo-dark">
            <img src="assets/images/logo-light.png" alt="" height="30" class="logo logo-light">
          </a>

          <h4>{{'resetpassword.title' | translate}}</h4>
          <p class="text-muted mb-4">{{'resetpassword.message' | translate}}</p>

        </div>

        <div class="card">
          <div class="card-body p-4">
            <div class="p-3">

              <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
                <ngb-alert type="danger" *ngIf="error" [dismissible]="false">{{ error }}</ngb-alert>

                <div class="form-group mb-4">
                  <label>{{'resetpassword.form.email.label' | translate}}</label>
                  <div class="input-group mb-3 bg-soft-light input-group-lg rounded-lg">
                    <div class="input-group-prepend">
                      <span class="input-group-text border-light text-muted">
                        <i class="ri-mail-line"></i>
                      </span>
                    </div>
                    <input type="email" formControlName="email" class="form-control bg-soft-light border-light"
                      [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
                      placeholder="{{'resetpassword.form.email.placeholder' | translate}}">
                    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                      <div *ngIf="f.email.errors.required">
                        {{'resetpassword.form.email.validation.required' | translate}}</div>
                      <div *ngIf="f.email.errors.email">{{ 'resetpassword.form.email.validation.invalid' | translate}}
                      </div>
                    </div>
                  </div>
                </div>

                <div>
                  <button class="btn btn-primary btn-block"
                    type="submit">{{'resetpassword.form.button.text' | translate}}</button>
                </div>

              </form>
            </div>
          </div>
        </div>

        <div class="mt-5 text-center">
          <p>{{'resetpassword.signintext' | translate}} <a routerLink="/account/login"
              class="font-weight-medium text-primary">
              {{'resetpassword.signinlink' | translate}} </a> </p>
          <p>© {{year}} {{'footer.name' | translate}} <i class="mdi mdi-heart text-danger"></i>
            {{'footer.text' | translate}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
