<!-- Start Contact content -->
<div>
  <div class="p-4">
    <div class="user-chat-nav float-right">
      <div ngbTooltip="Thêm bạn">
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-link text-decoration-none text-muted font-size-18 py-0" data-toggle="modal"
          data-target="#addContact-exampleModal" (click)="openContactsModal(content)">
          <i class="ri-user-add-line"></i>
        </button>
      </div>
    </div>
    <h4 class="mb-4">Liên lạc</h4>

    <!-- Start Add contact Modal -->
    <ng-template #content let-modal>
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title font-size-16" id="addContact-exampleModalLabel">
            Thêm bạn</h5>
          <button type="button" class="close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        
        <h2 type="text" class="text-danger text-center" *ngIf="error" [dismissible]="false">{{ error }}</h2>
        
        <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
          <div class="modal-body p-4">
        
            <div class="form-group">
              <label for="addcontactemail-input">Email/Phone</label>
              <input type="text" class="form-control" id="search-text" aria-describedby="search-text" 
                [(ngModel)]="searchText" placeholder="Nhập Email hoặc Phone" formControlName="name"
                autofocus>

              <ul class="list-group list-group-flush">
                <li class="list-group-item" *ngFor="let c of userSearch | appFilter: searchText | slice:0:5;">
                  <p (click)="getUser($event)" style="cursor: pointer" id="{{c}}">{{c}}</p> 
                </li>
              </ul>
            </div>

            <div class="form-group">
              <label
                for="addcontact-invitemessage-input">Lời mời</label>
              <textarea class="form-control" id="addcontact-invitemessage-input" rows="3"
                placeholder="Nhập nội dung lời mời" formControlName="invitemessage"></textarea>
            </div>
            
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-link"
              (click)="close()">Thoát</button>
            <button type="submit"
              class="btn btn-primary">Gửi lời mời</button>
          </div>
        </form>
      </div>
    </ng-template>
    <!-- End Add contact Modal -->

    <div class="search-box chat-search-box">
      <div class="input-group bg-light  input-group-lg rounded-lg">
        <div class="input-group-prepend">
          <button class="btn btn-link text-decoration-none text-muted pr-1" type="button">
            <i class="ri-search-line search-icon font-size-18"></i>
          </button>
        </div>
        <input type="text" class="form-control bg-light"
          placeholder="Tìm kiếm bạn bè...">
      </div>
    </div>
    <!-- End search-box -->
  </div>
  <!-- end p-4 -->
  <!-- Start contact lists -->
  <perfect-scrollbar class="p-4 chat-message-list chat-group-list" data-simplebar>

    <div *ngFor="let item of contactsList">
      <div class="p-3 font-weight-bold text-primary">
        {{item.key}}
      </div>

      <ul class="list-unstyled contact-list">
        <li *ngFor="let item of item.contacts">
          <div class="media align-items-center">
            <div class="media-body">
              <h5 class="font-size-14 m-0">{{item.name | translate}}</h5>
            </div>

            <div class="dropdown" ngbDropdown>
              <a href="javascript: void(0);" class="text-muted dropdown-toggle" ngbDropdownToggle data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <i class="ri-more-2-fill"></i>
              </a>
              <div class="dropdown-menu dropdown-menu-right" ngbDropdownMenu>
                <a class="dropdown-item" (click)="mess(item.id)">Nhắn tin<i
                    class="ri-message-2-line float-right text-muted"></i></a>
                <a class="dropdown-item" (click)="block(item.id)">Chặn <i
                    class="ri-forbid-line float-right text-muted"></i></a>
                <a class="dropdown-item" (click)="unfriend(item.id)">Xóa bạn <i
                    class="ri-delete-bin-line float-right text-muted"></i></a>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <!-- end contact list A -->

  </perfect-scrollbar>
  <!-- end contact lists -->
</div>
<!-- Start Contact content -->