 <!-- Start chats content -->
 <div>
   <div class="px-4 pt-4">
    <div class="user-chat-nav float-right">
      <div ngbTooltip="Tạo nhóm">
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-link text-decoration-none text-muted font-size-18 py-0"
          data-toggle="modal" data-target="#addgroup-exampleModal" (click)="openGroupModal(content)">
          <i class="ri-group-line mr-1"></i>
        </button>
      </div>
    </div>
    <!-- Start add group Modal -->
    <ng-template #content let-modal>
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title font-size-16" id="addgroup-exampleModalLabel">
            Tạo nhóm mới</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"
            (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body p-4">
          <form [formGroup]="groupForm">
            <div class="form-group mb-4">
              <label for="addgroupname-input">Tên nhóm</label>
              <input type="text" class="form-control" id="addgroupname-input"
                placeholder="{{'chat.tabs.groups.modal.form.name.placeholder' | translate}}">
            </div>
            <div class="form-group mb-4">
              <label>Thành viên</label>
              <div class="mb-3">
                <button class="btn btn-light btn-sm" type="button" data-toggle="collapse"
                  (click)="isCollapsed = !isCollapsed" data-target="#groupmembercollapse" aria-expanded="false"
                  aria-controls="groupmembercollapse">
                  Chọn thành viên
                </button>
              </div>
    
              <div class="collapse" id="groupmembercollapse" [ngbCollapse]="isCollapsed">
                <div class="card border">
                  <div class="card-header">
                    <h5 class="font-size-15 mb-0">{{'chat.tabs.contacts.title' | translate}}</h5>
                  </div>
                  <div class="card-body p-2">
                    <perfect-scrollbar data-simplebar style="height: 150px;">
                      <div>
                        <div class="p-3 font-weight-bold text-primary">
                          {{'chat.tabs.contacts.list.A.text' | translate}}
                        </div>
    
                        <ul class="list-unstyled contact-list">
                          <li>
                            <div class="custom-control custom-checkbox">
                              <input type="checkbox" class="custom-control-input" id="memberCheck1" checked>
                              <label class="custom-control-label" for="memberCheck1">{{'chat.tabs.contacts.list.A.name' |
                                translate}}</label>
                            </div>
                          </li>
    
                          <li>
                            <div class="custom-control custom-checkbox">
                              <input type="checkbox" class="custom-control-input" id="memberCheck2">
                              <label class="custom-control-label" for="memberCheck2">{{'chat.tabs.contacts.list.A.name2' |
                                translate}}</label>
                            </div>
                          </li>
                        </ul>
                      </div>
    
                      <div>
                        <div class="p-3 font-weight-bold text-primary">
                          {{'chat.tabs.contacts.list.C.text' | translate}}
                        </div>
    
                        <ul class="list-unstyled contact-list">
                          <li>
                            <div class="custom-control custom-checkbox">
                              <input type="checkbox" class="custom-control-input" id="memberCheck3">
                              <label class="custom-control-label" for="memberCheck3">
                                {{'chat.tabs.contacts.list.C.name' | translate}}</label>
                            </div>
                          </li>
    
                        </ul>
                      </div>
    
                      <div>
                        <div class="p-3 font-weight-bold text-primary">
                          {{'chat.tabs.contacts.list.D.text' | translate}}
                        </div>
    
                        <ul class="list-unstyled contact-list">
                          <li>
                            <div class="custom-control custom-checkbox">
                              <input type="checkbox" class="custom-control-input" id="memberCheck4">
                              <label class="custom-control-label" for="memberCheck4">
                                {{'chat.tabs.contacts.list.D.name' | translate}}</label>
                            </div>
                          </li>
    
                        </ul>
                      </div>
    
                      <div>
                        <div class="p-3 font-weight-bold text-primary">
                          {{'chat.tabs.contacts.list.I.text' | translate}}
                        </div>
    
                        <ul class="list-unstyled contact-list">
                          <li>
                            <div class="custom-control custom-checkbox">
                              <input type="checkbox" class="custom-control-input" id="memberCheck5">
                              <label class="custom-control-label" for="memberCheck5">
                                {{'chat.tabs.contacts.list.I.name' | translate}}</label>
                            </div>
                          </li>
    
                        </ul>
                      </div>
    
                      <div>
                        <div class="p-3 font-weight-bold text-primary">
                          {{'chat.tabs.contacts.list.J.text' | translate}}
                        </div>
    
                        <ul class="list-unstyled contact-list">
                          <li>
                            <div class="custom-control custom-checkbox">
                              <input type="checkbox" class="custom-control-input" id="memberCheck6">
                              <label class="custom-control-label" for="memberCheck6">{{'chat.tabs.contacts.list.J.name' |
                                translate}}</label>
                            </div>
                          </li>
    
                          <li>
                            <div class="custom-control custom-checkbox">
                              <input type="checkbox" class="custom-control-input" id="memberCheck7">
                              <label class="custom-control-label" for="memberCheck7">{{'chat.tabs.contacts.list.J.name2' |
                                translate}}</label>
                            </div>
                          </li>
    
                          <li>
                            <div class="custom-control custom-checkbox">
                              <input type="checkbox" class="custom-control-input" id="memberCheck8">
                              <label class="custom-control-label" for="memberCheck8">{{'chat.tabs.contacts.list.J.name3' |
                                translate}}</label>
                            </div>
                          </li>
    
                        </ul>
                      </div>
    
                      <div>
                        <div class="p-3 font-weight-bold text-primary">
                          {{'chat.tabs.contacts.list.M.text' | translate}}
                        </div>
    
                        <ul class="list-unstyled contact-list">
                          <li>
                            <div class="custom-control custom-checkbox">
                              <input type="checkbox" class="custom-control-input" id="memberCheck9">
                              <label class="custom-control-label" for="memberCheck9">{{'chat.tabs.contacts.list.M.name' |
                                translate}}</label>
                            </div>
                          </li>
    
                          <li>
                            <div class="custom-control custom-checkbox">
                              <input type="checkbox" class="custom-control-input" id="memberCheck10">
                              <label class="custom-control-label" for="memberCheck10">{{'chat.tabs.contacts.list.M.name2' |
                                translate}}</label>
                            </div>
                          </li>
    
                        </ul>
                      </div>
    
                      <div>
                        <div class="p-3 font-weight-bold text-primary">
                          {{'chat.tabs.contacts.list.P.text' | translate}}
                        </div>
    
                        <ul class="list-unstyled contact-list">
                          <li>
                            <div class="custom-control custom-checkbox">
                              <input type="checkbox" class="custom-control-input" id="memberCheck11">
                              <label class="custom-control-label" for="memberCheck11">
                                {{'chat.tabs.contacts.list.P.name' | translate}}</label>
                            </div>
                          </li>
    
                        </ul>
                      </div>
    
                      <div>
                        <div class="p-3 font-weight-bold text-primary">
                          {{'chat.tabs.contacts.list.R.text' | translate}}
                        </div>
    
                        <ul class="list-unstyled contact-list">
                          <li>
                            <div class="custom-control custom-checkbox">
                              <input type="checkbox" class="custom-control-input" id="memberCheck12">
                              <label class="custom-control-label" for="memberCheck12">
                                {{'chat.tabs.contacts.list.R.name' | translate}}</label>
                            </div>
                          </li>
    
                        </ul>
                      </div>
    
                      <div>
                        <div class="p-3 font-weight-bold text-primary">
                          {{'chat.tabs.contacts.list.S.text' | translate}}
                        </div>
    
                        <ul class="list-unstyled contact-list">
                          <li>
                            <div class="custom-control custom-checkbox">
                              <input type="checkbox" class="custom-control-input" id="memberCheck13">
                              <label class="custom-control-label" for="memberCheck13">{{'chat.tabs.contacts.list.S.name' |
                                translate}}</label>
                            </div>
                          </li>
    
                        </ul>
                      </div>
                    </perfect-scrollbar>
                  </div>
    
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="addgroupdescription-input">Miêu tả</label>
              <textarea class="form-control" id="addgroupdescription-input" rows="3"
                placeholder="Nội dung nhóm"></textarea>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-link" data-dismiss="modal"
            (click)="modal.dismiss('Cross click')">Thoát</button>
          <button type="button" class="btn btn-primary">Tạo nhóm</button>
        </div>
      </div>
    </ng-template>
    <!-- End add group Modal -->
    <h4 class="mb-4">Chat</h4>
    <div class="search-box chat-search-box">
      <div class="input-group mb-3 bg-light  input-group-lg rounded-lg">
        <div class="input-group-prepend">
          <button class="btn btn-link text-muted pr-1 text-decoration-none" type="button">
            <i class="ri-search-line search-icon font-size-18"></i>
          </button>
        </div>
        <input type="text" class="form-control bg-light"
          placeholder="Tìm kiếm...">
      </div>
     </div> <!-- Search Box-->
   </div> <!-- .p-4 -->

   <!-- Start user status -->
   <!-- <div class="px-4 pb-4" dir="ltr">
     <owl-carousel-o [options]="customOptions">
       <ng-template carouselSlide>
         <div class="item">
           <a href="#" class="user-status-box">
             <div class="avatar-xs mx-auto d-block chat-user-img online">
               <img src="assets/images/users/avatar-2.jpg" alt="user-img" class="img-fluid rounded-circle">
               <span class="user-status"></span>
             </div>

             <h5 class="font-size-13 text-truncate mt-3 mb-1">{{'chat.tabs.chats.users.1' | translate}}</h5>
           </a>
         </div>
       </ng-template>
       <ng-template carouselSlide>
         <div class="item">
           <a href="#" class="user-status-box">
             <div class="avatar-xs mx-auto d-block chat-user-img online">
               <img src="assets/images/users/avatar-4.jpg" alt="user-img" class="img-fluid rounded-circle">
               <span class="user-status"></span>
             </div>

             <h5 class="font-size-13 text-truncate mt-3 mb-1">{{'chat.tabs.chats.users.2' | translate}}</h5>
           </a>
         </div>
       </ng-template>
       <ng-template carouselSlide>
         <div class="item">
           <a href="#" class="user-status-box">
             <div class="avatar-xs mx-auto d-block chat-user-img online">
               <img src="assets/images/users/avatar-5.jpg" alt="user-img" class="img-fluid rounded-circle">
               <span class="user-status"></span>
             </div>

             <h5 class="font-size-13 text-truncate mt-3 mb-1">{{'chat.tabs.chats.users.3' | translate}}</h5>
           </a>
         </div>
       </ng-template>
       <ng-template carouselSlide>
         <div class="item">
           <a href="#" class="user-status-box">
             <div class="avatar-xs mx-auto d-block chat-user-img online">
               <img src="assets/images/users/avatar-6.jpg" alt="user-img" class="img-fluid rounded-circle">
               <span class="user-status"></span>
             </div>

             <h5 class="font-size-13 text-truncate mt-3 mb-1">{{'chat.tabs.chats.users.4' | translate}}</h5>
           </a>
         </div>
       </ng-template>
       <ng-template carouselSlide>
         <div class="item">
           <a href="#" class="user-status-box">
             <div class="avatar-xs mx-auto d-block chat-user-img online">
               <span class="avatar-title rounded-circle bg-soft-primary text-primary">
               </span>
               <span class="user-status"></span>
             </div>

             <h5 class="font-size-13 text-truncate mt-3 mb-1">{{'chat.tabs.chats.users.5' | translate}}</h5>
           </a>
         </div>
       </ng-template>

     </owl-carousel-o>

   </div> -->
   <!-- end user status carousel -->
   <!-- end user status -->

   <!-- Start chat-message-list -->
   <div class="px-2">
     <h5 class="mb-3 px-3 font-size-16">Gần đây</h5>

     <perfect-scrollbar class="chat-message-list">

       <ul class="list-unstyled chat-list chat-user-list">
         <li *ngFor="let user of chat" [ngClass]="{'typing': user.isTyping, 'active': user.isActive}"
           (click)="showChat(user)">
           <a href="#">
             <div class="media">

               <div class="chat-user-img align-self-center mr-3" [ngClass]="{'online': user.status === 'online',
               'away': user.status === 'away'}">
                 <img *ngIf="user.profilePicture" src="{{user.profilePicture}}" class="rounded-circle avatar-xs" alt="">
                 <div class="avatar-xs" *ngIf="!user.profilePicture">
                   <span class="avatar-title rounded-circle bg-soft-primary text-primary">
                     {{(user.name | translate).charAt(0)}}
                   </span>
                 </div>
                 <span *ngIf="user.status" class="user-status"></span>
               </div>

               <div class="media-body overflow-hidden">
                 <h5 class="text-truncate font-size-15 mb-1">{{user.name | translate}}</h5>
                 <p *ngIf="user.isTyping" class="chat-user-message text-truncate mb-0">typing<span
                     class="animate-typing">
                     <span class="dot ml-1"></span>
                     <span class="dot ml-1"></span>
                     <span class="dot ml-1"></span>
                   </span></p>
                 <p class="chat-user-message text-truncate mb-0">{{user.lastMessage | translate}}</p>
               </div>
               <div class="font-size-11">{{user.time | translate}}</div>
               <div class="unread-message">
                 <span class="badge badge-soft-danger badge-pill">{{user.unRead}}</span>
               </div>
             </div>
           </a>
         </li>
       </ul>
     </perfect-scrollbar>

   </div>
   <!-- End chat-message-list -->
 </div>
 <!-- Start chats content -->
